/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.gallery {
  display: flex;
  margin: 24px auto;
  max-width: 1144px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px 24px;
  list-style: none;
}

.gallery-image {
  max-width: 360px;
}

.gallery-image:hover {
  max-width: 376px
}

.feedback-form {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 300px;
  align-items: flex-start;
  padding: 8px;
}

.feedback-form button {
  width: 95px;
  height: 40px;
  border-radius: 8px;
  background-color: #4E75FF;
  margin-top: 10px;

}

.feedback-form label {
  display: flex;
  flex-direction: column;
}